[Unit]
Description=Potentiometer Volume Control Service
After=network.target sound.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/usr_name/path/to/Raspberry_Pi_Volume-Knob/env/bin/python3 /home/usr_name/path/to/Raspberry_Pi_Volume-Knob/main.py
Restart=on-failure
RestartSec=10
StandardOutput=file:%h/Desktop/volume.log

[Install]
WantedBy=default.target
